* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: white;
}

.products {
  padding: 1rem 0.5rem;
  background-color: rgb(242, 242, 242);
  font-weight: bold;
  font-size: 2rem;
  margin: 0 auto;
}

.container_language_startseite {
  display: flex;
  justify-content: center;
}

.container_language_startseite > span {
  font-size: 3rem;
}

.locale_language {
  font-size: 2rem;
}
