* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3em;
}

.item_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item {
  padding: 2em 2em;
  width: 20rem;
  height: 6rem;
  background-color: dodgerblue;
  border: none;
  color: white;
}
