* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3em;
}

.container {
  display: flex;
  justify-content: space-around;
}

button {
  padding: 0.5em 1em;
  background-color: black;
  color: white;
}

.btn {
  background-color: dodgerblue;
}
